{{define "Edit"}}

{{template "_head"}}

{{template "_menu"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Edit Register</h1>
                <p class="lead">Edit the information</p>
            </div>
        </div>
        <form method="PUT" action="update">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" value="{{.Name}}" placeholder="Ex: Pacman">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="producer">Producer:</label>
                        <input type="text" name="producer" class="form-control" value="{{.Producer}}" placeholder="Ex: Namco">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="platform">Platform:</label>
                        <input type="text" name="platform" class="form-control" value="{{.Platform}}" step="0.01" placeholder="Ex: Arcade">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="parentalRating">Parental Rating:</label>
                        <input type="number" name="parentalRating" class="form-control" value=".ParentalRating" placeholder="Ex: 18">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cooperative">Cooperative:</label>
                        <input type="text" name="cooperative" class="form-control" value="{{.Cooperative}}" placeholder="true or false">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <input type="number" name="rating" class="form-control" value="{{.Rating}}" placeholder="Ex: 3">
                    </div>
                </div>
            </div>

            <button type="submit" value="back" class="btn btn-success">Update</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>

    </html>
</div>
</body>

</html>

{{end}}